@{
    ViewBag.Title = "Storna domowa";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

 

 

<html>
 


<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Baza Ofert</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Informacje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Serwis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Menu Główne</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Witamy w bazie ofert UPH</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-uppercase">
                        <strong>Aby móc w pełni korzystać z naszego serwisu prosimy o zalogowanie!</strong>
                    </h2>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Więcej informacji</a>
                </div>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white"> Czym jesteśmy? </h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">
                        Baza ofert Uniwersytetu Przyrodniczo humanistycznego w Siedlcach jest naszą odpowiedzią na rosnące zapotrzebowanie na podobne systemy w Polsce. Pozwala ona na lepszą i efektywniejszą
                        współpracę uniwersytetu z ważnymi sektorami gospodarki krajowej.
                    </p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Przejdź Dalej!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">W naszym serwisie możesz:</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                        <h3 class="mb-3">Wyszukiwać ogłoszenia</h3>
                        <p class="text-muted mb-0"> W naszej bazie znajdują się różnego rodzaju oferty. <p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                        <h3 class="mb-3">Umieszczać własne</h3>
                        <p class="text-muted mb-0">Po wczesniejszym zalogowaniu możesz dodawać własne ofery do naszej bazy!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
                        <h3 class="mb-3">Dołączać do projektów</h3>
                        <p class="text-muted mb-0">
                            Z pomocą naszego serwisu możesz dołaczyć do wybranego projektu realizowanego
                            przez firme lub uczelnię.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                        <h3 class="mb-3">Znaleźć pracę</h3>
                        <p class="text-muted mb-0">Kontakty nawiązywane przy pomocy naszej witryny mogą być pomocne w znalezieniu pracy!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-0" id="portfolio">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/Projects/Index">
                        <img class="img-fluid" src="~/Content/img/portfolio/thumbnails/projekt.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Projekty
                                </div>
                                <div class="project-name">
                                    Wejdź
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/Uph_offer/Index">
                        <img class="img-fluid" src="~/Content/img/portfolio/thumbnails/uph.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Oferty UPH
                                </div>
                                <div class="project-name">
                                    Wejdź
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/Offers/Index">
                        <img class="img-fluid" src="~/Content/img/portfolio/thumbnails/biznes.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Oferty Biznesowe
                                </div>
                                <div class="project-name">
                                    Wejdź
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/News/Index">
                        <img class="img-fluid" src="~/Content/img/portfolio/thumbnails/news.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Wiadomości
                                </div>
                                <div class="project-name">
                                    Wejdź
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/Pollings/Index">
                        <img class="img-fluid" src="~/Content/img/portfolio/thumbnails/ankiety.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ankiety
                                </div>
                                <div class="project-name">
                                    Wejdź
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/Account/Login">
                        <img class="img-fluid" src="~/Content/img/portfolio/thumbnails/konto.jpeg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Witaj Użytkowniku
                                </div>
                                <div class="project-name">
                                    Zaloguj się
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Załóż darmowe konto!</h2>
            <a class="btn btn-light btn-xl sr-button"href="~/Account/Register">Zarejestruj się</a>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Kontakt do nas!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Oto nasze dane kontaktowe!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                    <p>123-456-678</p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                    <p>
                        <a href="mailto:your-email@your-domain.com">Uph@edu.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/Content/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/creative.min.js"></script>
</body>
</html>























